/* 
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: auto;
    font-family: "IBM Plex Sans", sans-serif;    
}
body::-webkit-scrollbar{
    display: none;
}
/* ========header đây nhé ============= */
.headd {
    background-color: #fff;
    box-shadow: 1px 1px 15px rgba(128, 128, 128, 0.568);
    padding: 20px;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.headerr {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* ================logo  Fshort=============== */
.logo {
    position: relative;
}

.logo span {
    position: absolute;
    font-size: 25px;
    /* font-weight: 500; */
    font-family: 'Mochiy Pop P One', sans-serif;
    top: -21px;
}

.logo span:nth-child(1) {
    text-shadow: 1px 1.5px 0px red, -1px -1.5px 0px aqua;
    left: 0;
    animation: span1 .3s linear 1;
}

.logo span:nth-child(2) {
    left: 25px;
    animation: span2 .4s linear 1;
}

.logo span:nth-child(3) {
    left: 50px;
    animation: span3 .5s linear 1;
}

.logo span:nth-child(4) {
    left: 75px;
    text-shadow: 1px 1.5px 0px red, -1px -1.5px 0px aqua;
    animation: span4 .6s linear 1;
}

.logo span:nth-child(5){
    left: 100px;
    animation: span5 .7s linear 1;
}

.logo span:nth-child(6) {
    left: 120px;
    animation: span6 .8s  1;
}

@keyframes span1 {
    0% {
        left: 150px
    }

    100% {
        left: 0
    }
}

@keyframes span2 {
    0% {
        left: 150px;
    }

    100% {
        left: 25px;
    }
}

@keyframes span3 {
    0% {
        left: 150px;
    }

    100% {
        left: 50px
    }
}

@keyframes span4 {
    0% {
        left: 150px;
    }

    100% {
        left: 75px;
    }
}

@keyframes span5 {
    0% {
        left: 150px;
    }

    100% {
        left: 100px;
    }
}

@keyframes span6 {
    0% {
        left: 150px;
    }

    100% {
        left: 125px;
    }
}

/* ================nút search ================= */
.search_header {

    border: 1px solid rgb(155, 155, 155);
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    clear: both;
}

.search_header form {
    display: flex;
    align-items: center;
}

.search_header input {
    border: none;
    padding: 2px 15px;
    color: gray;
    font-style: italic;
    outline: none;
    transition: .3s;
}

.search_header i {
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.search_header form:focus-within i {
    font-size: 0px;
    transition: .3s;
}

/* ======option header============ */
.sidebar {
    display: flex;
}

#main-nav p {
    position: relative;
}

#main-nav a {
    overflow: hidden;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    color: rgb(37, 37, 37);
    border: 1px solid rgba(128, 128, 128, 0.473);
    padding: 5px 10px;
    transition: .3s linear;
    font-weight: 400;
}

#main-nav p span {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    bottom: -20px;
    left: 0;
    background-color: #2e88ff;
    transition: .2s linear;
}

#main-nav a:hover {
    border: 1px solid #2e88ff;
    color: #2e88ff;
    transition: .2s linear;
}

#main-nav a:hover~span {
    width: 100%;
    transition: .2s linear;
}

/* ==================upload Login header============== */
.upload_login_header {
    display: flex;
    align-items: center;
    justify-content: center;

}
.upload_login_header .messs_header,.upload_login_header .notification_header {
    position: relative;
    cursor: pointer;
}
.upload_login_header .aleart_notifications{
    position: absolute;
    background-color:#fff;
    box-shadow: 0 0 5px gray;
    padding: 10px 20px;
    top: 45px;
    border-radius: 10px;
    height: 450px;
    left: -100px;
    overflow: auto;
    display: none;
}
.upload_login_header .aleart_notifications::-webkit-scrollbar {
    display: none;
}
.aleart_notifications h2{
    padding: 0 0 20px 0;
    border-bottom:1px solid gray;
}
.aleart_notifications h3{
    margin: 15px 0;   
}

/* ============= */
.upload_login_header .aleart_mess_header{
    position: absolute;
    background-color:#fff;
    box-shadow: 0 0 5px gray;
    padding: 10px 30px;
    top: 45px;
    border-radius: 10px;
    height: 450px;
    left: -100px;
    overflow: auto;
    display: none;
    
}
.upload_login_header .aleart_mess_header::-webkit-scrollbar {
    display: none;
}
.aleart_mess_header h2{
    padding: 0 0 20px 0;
    border-bottom:1px solid gray;
}
.aleart_mess_header h3{
    margin: 15px 0;   
}
.search_mess{
    padding: 5px 0px 5px ;
    border: 1px solid gray;
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
}
.search_mess form{
    display: flex;
    align-items: center;
    width: 100%;
}
.search_mess input{
    padding: 5px;
    width: max-content;
    outline: none;
    width: 80%;
    border: none;
    font-style: italic;
    transition: .2s linear;
}
.search_mess form i{
margin: 0 10px;
transition:.2s linear;

}
.search_mess form:focus-within i{
    font-size: 0;
    transition: .2s linear;
}
/* ===================== */
.item_notifications{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin: 25px 0;
    column-gap: 10px;
}
.item_notifications button{
    width: max-content !important;
    color: #fff;
    background-color: #2e88ff;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.upload_login_header .messs_header span,.upload_login_header .notification_header span {
    position: absolute;
    width: max-content;
    bottom: -40px;
    left: 40px;
    transition: .3s;
    opacity: 0;
}

.upload_login_header .messs_header i:hover~span,.upload_login_header .notification_header i:hover~span {
    position: absolute;
    width: max-content;
    left: -15px;
    opacity: 1;
    background-color: rgba(218, 218, 218, 0.829);
    padding: 5px 10px;
    border-radius: 5px;
}

.upload_login_header .messs_header:hover span::after,.upload_login_header .notification_header:hover span::after{
    content: "";
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgba(189, 189, 189, 0.616);
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    left: 36%;
}

.upload_login_header p i,.messs_header>i,.notification_header>i{
    margin: 0 10px;
    font-size: 20px;
    width: 30px;
    line-height: 30px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.116);
    text-align: center;
    border-radius: 50%;
}

.user_loginn {
    display: flex;
    align-items: center;
}

.img-login-header span {
    margin: 0 10px 0 20px;
    color: rgb(177, 177, 177);
    
}

.upload_login_header img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    cursor: pointer;
}

.img-login-header {
    position: relative;
}

.info_login_headerr {
    position: absolute;
    width: max-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.644);
    border-radius: 8px;
    top: 50px;
    right: 0px;
    display: block;
    
}

.info_login_headerr::after {
    content: "";
    width: 15px;
    height: 15px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
    top: -15px;
    left: 155px;
    background-color: rgb(233, 233, 233);
}

.info_login_headerr p {
    width: max-content;
    padding: 10px 0;
    transition: .2s linear;
    padding: 15px 20px;
}

.info_login_headerr p a {
    text-decoration: none;
    color: #000;
}

.info_login_headerr p:hover {
    background: rgba(228, 228, 228, 0.795);
    width: 100%;
}

/* ================ root nhé================ */
#root {
    /* display: grid;
    grid-template-columns: 20% 80%; */
    width: 1200px;
    margin: auto;
    margin-top: 90px;
    position: relative;
}

.left_root{
    position: fixed;
    width: 240px;
    margin:10px auto;
    height: 100%;
    overflow: auto;
    top: 100px;
    bottom: 200px;
}
.left_root .list_option_left_root p{
    padding: 15px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 8px;
    transition: .3s linear;
    cursor: pointer;
}
.left_root .list_option_left_root p:hover{
    transition: .3s linear;
    background-image: linear-gradient(to right, rgb(201, 201, 201) , rgb(255, 255, 255));
}
.list_option_left_root .user_left{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-image: linear-gradient(to right, rgb(168, 167, 167) , rgb(235, 235, 235),rgb(168, 167, 167));
    border-radius: 8px;
    width: 100%;
}
.list_option_left_root .user_left img{
    width: 20px;
    border-radius: 50%;
    margin: 0 20px;
}
.list_option_left_root .user_left span{
    color: rgb(94, 94, 94);
}
.right_root {
    position: absolute;
    margin: 0 0 0 260px;
    width: 80%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 20px;
}
#main-page{
    width:100%;
}
.infor_user_right_root{
   width:100%;  
}
.list_post_right{
   text-align: center;
}
.list_post_right button{
    background-color: #fff;
    border: 1px solid #2e88ff;
    color: #2e88ff;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s linear;
}
.list_post_right button:hover{
    background-color: #eaf2ff;
    transition: .2s linear;
}
/* ============trang video (Không được động vào phần này- Cường)=============== */
.videos_page{
    width: 100%;
    margin-top: 20px;
}
.logo_name_videos_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_name_videos{
    display: flex;
    align-items: center;
}
.logo_name_videos img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.text_logo_name_videos p:nth-child(2){
color: gray;
font-size: 10px;
display: flex;
align-items: center;
}
.btn_logo_name_video button{
    padding:2px 10px;
    color: red;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 5px;
    transition: .2s linear;
}
.btn_logo_name_video button:hover{
    transition: .2s linear;
    background-color: rgb(247, 208, 208);
    cursor: pointer;
}
/* ========video trong trang video========== */
.links_video{
    margin-top: 20px;
    text-align: center;
}
.links_video video{
    position: relative;
    z-index: 1;
}
.links_video .controls_links_video i{
    position: absolute;
    top: 0%;
    font-size: 100px;
    z-index: 200;
    color: red;
}
.feeling{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.feeling .icon_felling i{
    font-size: 25px;
    margin: 0 10px;
}
.feeling .icon_felling i:nth-child(2){

}
.feeling .icon_felling i:hover{
    color: rgba(77, 77, 77, 0.61);
    cursor: pointer;
}
.feeling .infor_view{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feeling .infor_view p{
    margin: 0 10px;
}
.videos_page .content_video_page p:nth-child(2){
    font-weight: 100;
    font-size: 15px;
    margin-top: 20px;
}
.info_comment_video_page{
    display: flex;
    align-items:center;
    margin-top: 20px;
}
.comment_video_page{
    display: none;
}
.comment_video_page img{
    width: 25px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.input_comment{
    border-top: 1px solid gray;
    padding: 10px 20px;
    margin-top: 50px;
    border-bottom: 1px solid gray ;
}
.value_comment_user{
    width: 80%;
    margin: 20px 0 0 5% ;
    font-size: 13px;
    font-weight: 500;
}
.input_comment form{
    display: flex;
    align-items: center;
}
.input_comment form input{
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    font-style: italic;
}
.input_comment form i{
    font-size: 24px;
    transition: .2s linear;
}
.input_comment form:focus-within>i{
    font-size: 0px;
    transition: .2s linear;
}
.input_comment form button{
    padding: 5px 15px;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #2e88ff;
    cursor: pointer;
    transition: .2s linear;
}
.input_comment form button:hover{
    background-color: #fff;
    border: #2e88ff 1px solid;
    color: #2e88ff;
    transition: .2s linear;
}

/* ===============post video=================== */
.post_content_video_news{
    position: relative;
    width: 1200px;
    margin: auto;
    font-family: "IBM Plex Sans", sans-serif;    
}
.testposstvd{
    
    left: 0px;
    position: fixed;
    top: -100px;
    bottom: 0;
    right: 0;
    background-color: rgba(80, 80, 80, 0.87);
    z-index: 100;
}
.postvideo{
    display: none;
}
.postnews{
    display: none;
}
.testposstvd{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -100px; */
    transition: .2s linear;
}
.postvideo form h3{
    text-align: center;
    padding: 10px 0 20px;
    border-bottom: 1px solid gray;
}
.postnews form h3{
    text-align: center;
    padding: 10px 0 20px;
    border-bottom: 1px solid gray;
}


.postvideo form .logo_name_videos{
    margin: 10px 0 15px;
}


.postnews form .logo_name_videos{
    margin: 10px 0 15px;
}



.postvideo form{
    background-color: #fff;
    padding: 20px 30px 100px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    margin-top: 200px;
   margin: 0 auto;
   height: max-content;
    width: max-content;
    position: relative;
}


.postnews form{
    background-color: #fff;
    padding: 20px 30px 100px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    margin-top: 200px;
   margin: 0 auto;
   height: max-content;
    width: max-content;
    position: relative;
}
.postvideo form td{
    padding: 10px;
}
.postnews form td{
    padding: 10px;
}
.postvideo  #post_content_video{
    width: 350px;
    border: none;
    outline: none; 
    padding: 5px 0 50px 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.postnews  #post_content_video{
    width: 350px;
    border: none;
    outline: none; 
    padding: 5px 0 50px 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.postvideo form table tr:nth-child(2) td:nth-child(1){
    position: relative;
    text-align: center;
    cursor: pointer;
    background-color: #2e88ff;
    color: #fff;
    width: 50%;
    transition: .2s linear;
    border-radius: 10px;
}
.postnews form table tr:nth-child(2) td:nth-child(1){
    position: relative;
    text-align: center;
    cursor: pointer;
    background-color: #2e88ff;
    color: #fff;
    width: 50%;
    transition: .2s linear;
    border-radius: 10px;
}
.postvideo form table tr:nth-child(2) td:nth-child(1):hover{
    background-color: #65a8ff;
    transition: .2s linear;
}
.postnews form table tr:nth-child(2) td:nth-child(1):hover{
    background-color: #65a8ff;
    transition: .2s linear;
    cursor: pointer;
}

.postvideo  #post_videos{
    position: absolute;
    left: 37px;
    top: 240px;
    opacity: 0;
    font-size: 22px;
    cursor: pointer;
    width: 150px;
}
.postnews  #post_videos{
    position: absolute;
    left: 37px;
    top: 240px;
    opacity: 0;
    font-size: 22px;
    cursor: pointer;
    width: 150px;
}
.postvideo form button{
 background-color: #2e88ff;
 color: #fff;
 padding: 10px 25px;
 border: none;
 border-radius: 10px;
 position: absolute;
 right: 20px;
 bottom: 20px;
}
.postnews form button{
    background-color: #2e88ff;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    bottom: 20px;
   }
.postvideo form>i{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
}
.postnews form>i{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
}
.user_and_friend{
    width: 100%;
}
.user_login_right_root,
.note_view_all_friends,
.list_friends_root_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.list_friends_root_right .text_logo_name_videos p:nth-child(1),
.logout_right_root{
    font-size: 13px;
}
.logout_right_root a,.logout_right_root p{
    text-decoration: none;
    color: #2e88ff;
    cursor: pointer;
}
.note_view_all_friends p:nth-child(1){
    color: gray;
}
.note_view_all_friends p:nth-child(2){
    cursor: pointer;
}
.viewall_friends_root_right{
    display: none;
} */